.my_page {
    padding-bottom: 64px;
    &_buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 66px;
        padding: 34px 0;
    }
    &_items {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 28px;
    }
}
