.my_column_button {
    width: 216px;
    height: 144px;
    background: var(--dark-600);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px 8px;
    position: relative;
    user-select: none;
    &::before {
        content: '';
        position: absolute;
        width: 56px;
        height: 1px;
        background-color: #fff;
        top: 88px;
    }
    .title {
        color: var(--primary-300);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.11px;
        word-break: normal;
    }
    .subTitle {
        color: #fff;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        padding-top: 17px;
    }
}
