.navbar {
    display: flex;
    align-items: center;
    margin-right: 16px;
    li {
        width: 160px;
        a {
            display: flex;
            align-items: center;
            padding: 8px;
            transition: all 0.3s;
            &:hover {
                opacity: 0.85;
                transition: all 0.3s;
                .navbar_title {
                    color: var(--primary-400);
                }
            }
        }
    }
    &_title {
        padding-left: 8px;
        color: #fff;
        font-weight: 300;
    }
    &_icon {
        position: relative;
    }
    &_notice {
        position: absolute;
        width: 16px;
        height: 16px;
        right: -8px;
        background-color: var(--primary-500);
        border-radius: 50%;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 10px;
        text-align: center;
        line-height: 16px;
        color: #ffffff;
    }
}
