.banner {
    background: var(--dark-600);
    .wrapper {
        display: flex;
        align-items: center;
        position: relative;
        height: 316px;
        overflow: hidden;
    }
    &_main {
        width: 43%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .chart_wrapper2 {
        width: 57%;
        height: 316px;
        margin: 0 auto 0;
        padding: 15px 40px;
    }
}
